{{>Header}}
<title>Error</title>

{{>NavbarHome}}
<div class="w-50 m-auto">
    <div class="text-center">
        
        <i class="fas fa-university fa-5x text-center my-2"></i>
        <hr>
        <small class="mb-2">Banco Digital de Chile</small>
        <h4 class=>Error 404</h4>
        <h5>La página que intentas consultar no existe :(</h5>
        <div>
            <a href="/users/login">Volver a Logear</a>
        </div>
        <div>
            <a href="/">Home</a>
        </div>
    </div>
</div>

{{>Footer}}