{{>Header}}
<title>Banco digital</title>


<header class="hero text-light text-right">
<!-- Navbar -->
{{>NavbarHome}}
<!-- Navbar -->
{{!-- <header class="hero text-light text-right col-md-12">
<!-- Background image -->
  <div class="container-fluid">
    <div class="p-5 d-flex text-center bg-image" style=" background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg'); height: 600px;">
      <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center h-90">
          <div class="text-white text-center">
            <h1 class="mb-3">Eric Espinoza</h1>
            <h4 class="mb-3">Desarrollador FullStack Javascript</h4>
            <a class="btn btn-outline-light btn-lg m-2" href="#features" role="button">Mis Habilidades</a>
            <a class="btn btn-outline-light btn-lg m-2" href="#project" role="button">Portafolio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> --}}
<!-- Background image -->
      <div class="container">
        <h1 class="display-1 font-weight-bold my-5">Comidas del fin del mundo</h1>
        <p class="my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#work" class="btn btn-outline-info btn-lg mr-4">Trabajos</a>
        <a href="#contact" class="btn btn-info btn-lg">Contacto</a>
      </div>
</header>



{{>Footer}}