{{>Header}}
<title>Transferencias</title>

<body>
  {{>NavbarTopUser}}

  <div class="container-fluid">
    <div class="row">
      {{!-- nav vertical --}}
      {{> NavbarLeftUser activeTrx= "active"}}


<div class="col-12 col-sm-9 text-center px-3 p-sm-5">
    <small class="mb-2">Banco Digital de Chile</small>
    <h4 class=>Nueva Transferencia</h4>
    <hr class="w-75 m-auto">
    <div class="m-auto w-75 pt-3">
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese nombre del destinatario" aria-label="Username"
                id="name" value="Elias Benjamin" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese correo del destinatario" aria-label="Username"
                id="email" value="benjamin@gmail.com" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-id-card"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese RUT del destinatario" aria-label="Username"
                id="rut" value="12.123.123-3" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-envelope-open-text"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese comentario de transferencia"
                aria-label="Username" id="comment" value="comment test..." />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-money-bill-wave"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese el monto que desea transferir"
                aria-label="Username" id="amount" name="amount" value="2000" />
        </div>
        <button type="button" class="btn btn-dark" onclick="transfer()">Transferir</button>
    </div>
</div>

{{>Footer}}